<div>
  <div class="nested-fields">
    <div class="field">
      <%= f.text_field :amount,:placeholder => 'Add Amount' %>
      <% unless f.object.id.present? %>
        <%= f.submit "pay" , class: 'btn btn-primary'%>
      <% end %>
      <span class="col-md-offset-2 <%= f.object.status %>">
        <%= f.object.status.upcase_first if f.object.status.present? && !f.object.new_record? %>
      </span>
    </div>
    <%= link_to_remove_association "Remove Amount", f %>
  </div>
</div>