 <!-- user.rents.map{|a| a.amount.to_i}.sum -->
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead class="member-header">
        <tr>
          <th>Name</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= form_for current_user, url: users_path , :html => { :multipart => true } do |f| %>
              <%= f.fields_for :extra_expenses do |extra_expense| %>
                <%= render 'extra_expense_fields', f: extra_expense %>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'Add Amount', f, :extra_expenses %>
              </div>
          </td>
            <% end %>
          <td>
            <b><%= current_user.extra_expenses.map{|a| a.amount.to_i}.sum %></b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
